<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.auz.restassured.tests.interview.testcases.Get_defaultInterviewStagesForJob</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC001_Verify_if_user_can_get_default_interview_stages_for_job</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.auz.restassured.tests.interview.testcases.AddGetUpdateDelete_ActionsForAnInterview</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC002_Verify_if_user_can_get_action_for_an_interview</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC001_Verify_if_user_can_add_action_for_an_interview</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC004_Verify_if_user_can_delete_action_for_an_interview</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC003_Verify_if_user_can_update_action_for_an_interview</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.auz.restassured.tests.interview.testcases.ScheduleInterview</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC003_Verify_if_user_can_delete_schedule_interview_by_id</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC001_Verify_if_user_can_schedule_interview_by_id</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC002_Verify_if_user_can_patch_an_inteview_by_id</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
