<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="acb0d1">  <td>20/08/06 12:04:36</td>   <td>0</td> <td title="&gt;&gt;PreAndTest.beforeSuite()[pri:0, instance:com.auz.restassured.tests.interview.testcases.ScheduleInterview@3427b02d]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1741979653</td>   <td></td> </tr>
<tr bgcolor="a561cf">  <td>20/08/06 12:05:13</td>   <td>36278</td> <td>&nbsp;</td><td title="&gt;&gt;AddGetUpdateDelete_ActionsForAnInterview.setValues()[pri:0, instance:com.auz.restassured.tests.interview.testcases.AddGetUpdateDelete_ActionsForAnInterview@41fbdac4]">&gt;&gt;setValues</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1741979653</td>   <td></td> </tr>
<tr bgcolor="d299e3">  <td>20/08/06 12:05:13</td>   <td>36281</td> <td>&nbsp;</td><td title="&gt;&gt;Get_defaultInterviewStagesForJob.setValues()[pri:0, instance:com.auz.restassured.tests.interview.testcases.Get_defaultInterviewStagesForJob@647e447]">&gt;&gt;setValues</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1741979653</td>   <td></td> </tr>
<tr bgcolor="66ebcb">  <td>20/08/06 12:05:13</td>   <td>36282</td> <td>&nbsp;</td><td title="&gt;&gt;ScheduleInterview.setValues()[pri:0, instance:com.auz.restassured.tests.interview.testcases.ScheduleInterview@3427b02d]">&gt;&gt;setValues</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1741979653</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/08/06 12:05:13</td>   <td>36290</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndTest.beforeClass()[pri:0, instance:com.auz.restassured.tests.interview.testcases.AddGetUpdateDelete_ActionsForAnInterview@41fbdac4]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1741979653</td>   <td></td> </tr>
<tr bgcolor="a561cf">  <td>20/08/06 12:05:13</td>   <td>36302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddGetUpdateDelete_ActionsForAnInterview.TC001_Verify_if_user_can_add_action_for_an_interview()[pri:1, instance:com.auz.restassured.tests.interview.testcases.AddGetUpdateDelete_ActionsForAnInterview@41fbdac4]">TC001_Verify_if_user_can_add_action_for_an_interview</td> 
  <td>main@1741979653</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/08/06 12:05:18</td>   <td>41978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndTest.afterMethod(org.testng.ITestResult)[pri:0, instance:com.auz.restassured.tests.interview.testcases.AddGetUpdateDelete_ActionsForAnInterview@41fbdac4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1741979653</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>20/08/06 12:05:18</td>   <td>42100</td> <td title="&lt;&lt;PreAndTest.afterSuite()[pri:0, instance:com.auz.restassured.tests.interview.testcases.ScheduleInterview@3427b02d]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1741979653</td>   <td></td> </tr>
</table>
