<h2>Methods that were not run</h2><table>
<tr><td>com.auz.SupportedUtils.PreAndTest.afterSuite</td></tr>
<tr><td>com.auz.SupportedUtils.PreAndTest.afterSuite</td></tr>
<tr><td>com.auz.SupportedUtils.PreAndTest.beforeSuite</td></tr>
<tr><td>com.auz.SupportedUtils.PreAndTest.beforeSuite</td></tr>
</table>