<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="84f46f">  <td>20/10/23 11:55:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.bclass()[pri:0, instance:com.auz.restassured.tests.aaaa.Test1@60d8c9b7]">&gt;&gt;bclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@204715855</td>   <td></td> </tr>
<tr bgcolor="84f46f">  <td>20/10/23 11:55:39</td>   <td>7713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.t1(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.auz.restassured.tests.aaaa.Test1@60d8c9b7]">t1</td> 
  <td>main@204715855</td>   <td></td> </tr>
<tr bgcolor="84f46f">  <td>20/10/23 11:56:09</td>   <td>37062</td> <td>&nbsp;</td><td title="&lt;&lt;Test1.createData1()[pri:0, instance:com.auz.restassured.tests.aaaa.Test1@60d8c9b7]">&lt;&lt;createData1</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@204715855</td>   <td></td> </tr>
</table>
