<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ATS-AutomationSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="defd9f">  <td>20/08/06 02:15:11</td>   <td>0</td> <td title="&gt;&gt;PreAndTest.beforeSuite()[pri:0, instance:com.auz.restassured.tests.interview.testcases.AddGetUpdateDelete_ActionsForAnInterview@2f7298b]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="7a8682">  <td>20/08/06 02:15:32</td>   <td>21295</td> <td>&nbsp;</td><td title="&gt;&gt;AddGetUpdateDelete_ActionsForAnInterview.setValues()[pri:0, instance:com.auz.restassured.tests.interview.testcases.AddGetUpdateDelete_ActionsForAnInterview@2f7298b]">&gt;&gt;setValues</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="756496">  <td>20/08/06 02:15:32</td>   <td>21295</td> <td>&nbsp;</td><td title="&gt;&gt;Get_defaultInterviewStagesForJob.setValues()[pri:0, instance:com.auz.restassured.tests.interview.testcases.Get_defaultInterviewStagesForJob@188715b5]">&gt;&gt;setValues</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="c1b3a1">  <td>20/08/06 02:15:32</td>   <td>21296</td> <td>&nbsp;</td><td title="&gt;&gt;ScheduleInterview.setValues()[pri:0, instance:com.auz.restassured.tests.interview.testcases.ScheduleInterview@1ea9f6af]">&gt;&gt;setValues</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="defd9f">  <td>20/08/06 02:15:32</td>   <td>21308</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndTest.beforeClass()[pri:0, instance:com.auz.restassured.tests.interview.testcases.AddGetUpdateDelete_ActionsForAnInterview@2f7298b]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="7a8682">  <td>20/08/06 02:15:32</td>   <td>21325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddGetUpdateDelete_ActionsForAnInterview.TC001_Verify_if_user_can_add_action_for_an_interview()[pri:1, instance:com.auz.restassured.tests.interview.testcases.AddGetUpdateDelete_ActionsForAnInterview@2f7298b]">TC001_Verify_if_user_can_add_action_for_an_interview</td> 
  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="defd9f">  <td>20/08/06 02:15:38</td>   <td>26731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndTest.afterMethod(org.testng.ITestResult)[pri:0, instance:com.auz.restassured.tests.interview.testcases.AddGetUpdateDelete_ActionsForAnInterview@2f7298b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="7a8682">  <td>20/08/06 02:15:38</td>   <td>26771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddGetUpdateDelete_ActionsForAnInterview.TC002_Verify_if_user_can_get_action_for_an_interview()[pri:2, instance:com.auz.restassured.tests.interview.testcases.AddGetUpdateDelete_ActionsForAnInterview@2f7298b]">TC002_Verify_if_user_can_get_action_for_an_interview</td> 
  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="defd9f">  <td>20/08/06 02:15:40</td>   <td>29282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndTest.afterMethod(org.testng.ITestResult)[pri:0, instance:com.auz.restassured.tests.interview.testcases.AddGetUpdateDelete_ActionsForAnInterview@2f7298b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="7a8682">  <td>20/08/06 02:15:40</td>   <td>29283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddGetUpdateDelete_ActionsForAnInterview.TC003_Verify_if_user_can_update_action_for_an_interview()[pri:3, instance:com.auz.restassured.tests.interview.testcases.AddGetUpdateDelete_ActionsForAnInterview@2f7298b]">TC003_Verify_if_user_can_update_action_for_an_interview</td> 
  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="defd9f">  <td>20/08/06 02:15:43</td>   <td>31671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndTest.afterMethod(org.testng.ITestResult)[pri:0, instance:com.auz.restassured.tests.interview.testcases.AddGetUpdateDelete_ActionsForAnInterview@2f7298b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="7a8682">  <td>20/08/06 02:15:43</td>   <td>31673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddGetUpdateDelete_ActionsForAnInterview.TC004_Verify_if_user_can_delete_action_for_an_interview()[pri:4, instance:com.auz.restassured.tests.interview.testcases.AddGetUpdateDelete_ActionsForAnInterview@2f7298b]">TC004_Verify_if_user_can_delete_action_for_an_interview</td> 
  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="defd9f">  <td>20/08/06 02:15:45</td>   <td>34147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndTest.afterMethod(org.testng.ITestResult)[pri:0, instance:com.auz.restassured.tests.interview.testcases.AddGetUpdateDelete_ActionsForAnInterview@2f7298b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="defd9f">  <td>20/08/06 02:15:45</td>   <td>34151</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndTest.beforeClass()[pri:0, instance:com.auz.restassured.tests.interview.testcases.Get_defaultInterviewStagesForJob@188715b5]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="756496">  <td>20/08/06 02:15:45</td>   <td>34152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_defaultInterviewStagesForJob.TC001_Verify_if_user_can_get_default_interview_stages_for_job()[pri:5, instance:com.auz.restassured.tests.interview.testcases.Get_defaultInterviewStagesForJob@188715b5]">TC001_Verify_if_user_can_get_default_interview_stages_for_job</td> 
  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="defd9f">  <td>20/08/06 02:15:47</td>   <td>36346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndTest.afterMethod(org.testng.ITestResult)[pri:0, instance:com.auz.restassured.tests.interview.testcases.Get_defaultInterviewStagesForJob@188715b5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="defd9f">  <td>20/08/06 02:15:47</td>   <td>36347</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PreAndTest.beforeClass()[pri:0, instance:com.auz.restassured.tests.interview.testcases.ScheduleInterview@1ea9f6af]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="c1b3a1">  <td>20/08/06 02:15:47</td>   <td>36348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleInterview.TC001_Verify_if_user_can_schedule_interview_by_id()[pri:6, instance:com.auz.restassured.tests.interview.testcases.ScheduleInterview@1ea9f6af]">TC001_Verify_if_user_can_schedule_interview_by_id</td> 
  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="defd9f">  <td>20/08/06 02:15:54</td>   <td>43281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndTest.afterMethod(org.testng.ITestResult)[pri:0, instance:com.auz.restassured.tests.interview.testcases.ScheduleInterview@1ea9f6af]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="c1b3a1">  <td>20/08/06 02:15:54</td>   <td>43282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleInterview.TC002_Verify_if_user_can_patch_an_inteview_by_id()[pri:7, instance:com.auz.restassured.tests.interview.testcases.ScheduleInterview@1ea9f6af]">TC002_Verify_if_user_can_patch_an_inteview_by_id</td> 
  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="defd9f">  <td>20/08/06 02:15:56</td>   <td>45480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndTest.afterMethod(org.testng.ITestResult)[pri:0, instance:com.auz.restassured.tests.interview.testcases.ScheduleInterview@1ea9f6af]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="c1b3a1">  <td>20/08/06 02:15:56</td>   <td>45483</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleInterview.TC003_Verify_if_user_can_delete_schedule_interview_by_id()[pri:8, instance:com.auz.restassured.tests.interview.testcases.ScheduleInterview@1ea9f6af]">TC003_Verify_if_user_can_delete_schedule_interview_by_id</td> 
  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="defd9f">  <td>20/08/06 02:15:59</td>   <td>47966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PreAndTest.afterMethod(org.testng.ITestResult)[pri:0, instance:com.auz.restassured.tests.interview.testcases.ScheduleInterview@1ea9f6af]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
<tr bgcolor="defd9f">  <td>20/08/06 02:15:59</td>   <td>48053</td> <td title="&lt;&lt;PreAndTest.afterSuite()[pri:0, instance:com.auz.restassured.tests.interview.testcases.AddGetUpdateDelete_ActionsForAnInterview@2f7298b]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@609962972</td>   <td></td> </tr>
</table>
